.routinesContainer{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.routinesTopContainer{
    width: 100%;
    background-color: var(--first-color);
    padding: 1.5em;
    margin-bottom: 1em;
    border-radius: 10px;
    -webkit-box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
    -moz-box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
    box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
}

.routinesCardTitle{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    color: white;
    padding-bottom: 1.5em;
}

.cardsContainer{  
    display: flex;
    gap: 1em;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.routinesBottomContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    flex-grow: 1;
    min-height: max-content;
}

.routinesManageContainer{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex: 3;
    padding: 1.5em;
    background-color: var(--first-color);
    -webkit-box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
    -moz-box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
    box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
}

.routinesInnerManageContainer{
    display: flex;
    flex-direction: row;
    gap: 1em;
    
}

.routinesInnerManageContainer1{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1em;
    min-width: 150px;
}

.routinesInnerManageContainer1:nth-child(3){
    justify-content: space-between;
}

.routinesManageBtnContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
    flex-wrap: wrap;
    width: 100%;
}

.routinesManageBtn{
    max-width: 80px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 0.5em 1em;
    font-size: 0.5rem;
    border-radius: 5px;
    background-color: transparent;
    color:white;
    cursor: pointer;
    font-weight: 300;
    -webkit-box-shadow: 4px 4px 0px 1px rgb(27, 26, 26);
    -moz-box-shadow: 4px 4px 0px 1px rgb(27, 26, 26);
    box-shadow: 4px 4px 0px 1px rgb(27, 26, 26);
    transition: 0.2s all ease;
}

.routinesManageBtn svg {
    fill: white;
    height: 18px;
    width: 18px;
}

.routinesManageBtn:nth-child(1){
    background-color: blueviolet;
}

.routinesManageBtn:nth-child(2){
    background-color: Red;
}

.routinesManageBtn:nth-child(3){
    background-color: rgb(0, 255, 55);
}

.routinesManageBtn:hover{
    opacity: 0.5;
}

.routinesSelectContainer{
    border-radius: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    background-color: var(--first-color);
    -webkit-box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
    -moz-box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
    box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
}

.cardSelectContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.cardSelectBtns{
    margin-top: 1.25em;
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.cardBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    aspect-ratio: 1/1;
    background-color: yellow;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: 4px 4px 0px 1px rgb(27, 26, 26);
    -moz-box-shadow: 4px 4px 0px 1px rgb(27, 26, 26);
    box-shadow: 4px 4px 0px 1px rgb(27, 26, 26);
    transition: 0.2s all ease;
}
.cardBtn svg{
    fill: black;
}
.cardBtn:hover{
    opacity: 0.5;
}

.routinesHelpBtn svg{
    fill: white;
}

.routinesHelpBtn{
    background-color: transparent;
    cursor: pointer;
    border: none;
    width: max-content;
    padding: 0.5em;
}

.helpWrapper {
  position: relative;
  display: inline-block;
}

.helpTooltip {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background: #444;
  color: white;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 0.75rem;
  width: 150px;
  text-align: center;
  z-index: 100;
  border: 1px solid #666;
}




@media only screen and (max-width: 820px) {

    .routinesBottomContainer{
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
        max-height: max-content;
    }

    .routinesInnerManageContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .routinesManageBtnContainer{
        justify-content: space-between;
    }

    .routinesManageBtn{
        max-width: none;
        width: 30%;
    }

}



