.heroBtn{
    margin: 1rem;
    padding: 0.5em 2em;
    border: none;
    font-weight: bold;
    border: 1px solid yellow;
    background-color: var(--bg-color);
    color: var(--color);
    letter-spacing: 3px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.heroBtn:hover{
    background-color: var(--bg-hover-color);
    color: var(--color-hover);
}
