.dashboardContainer{
    display: flex;
    flex-direction: row;
    min-height: 100%;
    gap: 1em;
    border: 1px solid black;
}

.dashboardLeftContainer{
    display: flex;
    flex-direction: column;
    flex: 2;
    min-width: 0%;
    gap: 1em;

}

.dashboardRightContainer{
    display: flex;
    flex: 1;

}

.routinesContainer{
    width: 100%;
    background-color: var(--first-color);
    padding: 1.5em;
    border-radius: 10px;
    -webkit-box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
    -moz-box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
    box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
}

.containerTitle{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    color: white;
    padding-bottom: 1.5em;
}

.cardsContainer{  
    display: flex;
    gap: 1em;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.overviewContainer{
    display: flex;
    flex: 1;
    background-color: var(--first-color);
    padding: 1.5em;
    border-radius: 10px;
    -webkit-box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
    -moz-box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
    box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
}