.navbarContainer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.5s ease;
    z-index: 2;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.logo{
    -webkit-text-stroke: 2px black;
    height: 80%;
    font-weight: bold;
    font-size: 1.5rem;
}

.navLink{
    text-decoration: none;
    color: black;
    padding: 0.5em 1.5em;
    position: relative;
}

.navLink::after{
    position: absolute;
    content: '';
    height: 0.2rem;
    background-color: yellow;
    bottom: 0;
    left: 0;
    width: 0%;
    transition: all 0.5s ease;
}

.navLink:hover::after{
    position: absolute;
    content: '';
    height: 0.2rem;
    background-color: yellow;
    bottom: 0;
    left: 0;
    width: 100%;
}
