.formInputContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.25em;
}

.formInputContainer label{
    color: var(--third-color);
    font-size: 0.75rem;
}

.formInputContainer input{
    width: 100%;
    background-color: var(--second-color);
    outline: none;
    border: none;
    padding: 0.4em;
    border-radius: 5px;
    color: white;
    font-size: 1rem; 
    font-weight: 100;
}