.contactContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: black;
}

/* ***** Text Container ***** */

.contactTextContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    color: white;
}

.contactTitle{
    font-size: 1.5rem;
    color: yellow;
    margin-bottom: 1em;
}

.contactText{
    text-align: justify;
    margin-bottom: 2rem;
}

.contactInputContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.contactInputContainer label{
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.contactInputContainer input, textarea{
    padding: 0.5em;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}

.innerInputContainer1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
}

.innerInputContainer2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.innerInputContainer2 textarea{
    width: 100%;
    resize: none;
    margin-bottom: 2rem;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.contactBtn{
    outline: none;
    border: none;
    color: white;
    background-color: rgb(31, 182, 31);
    padding: 0.5em 2em;
    cursor: pointer;
    transition: all 0.4s ease;
    font-weight: bold;
}

.contactBtn:hover{
    background-color: rgb(22, 114, 22);
}



/* ***** IMG Container ***** */

.contactImgContainer{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 40%;
    object-fit: cover;
}
.contactImg{
    width: 70%;
    height: auto;
}