:root {
    --bg: #2b2b27;
    --sidebar-icon: #8c8c8c;
    --accent: yellow;
    --text-light: #8c8c8c;
    --text-dark: #2b2b27;
}

.sidebarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 250px;
    background-color: var(--bg);
    transition: transform 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 3;
}

.sidebarHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    padding: 1em 0;
}

.logoContainer{
    text-decoration: none;
}

.logo {
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
}

.sidebarBtn {
    background: var(--accent);
    border: none;
    padding: 0.3em;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sidebarItems {
    width: 90%;
    height: 100%;
}

.sidebarItem {
    display: flex;
    align-items: center;
    gap: 0.75em;
    padding: 0.6em 1em;
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.2s;
    width: 100%;
}

.sidebarItem:hover {
    background: var(--accent);
}

.sidebarItem:hover .sidebarItemIcon,
.sidebarItem:hover .sidebarItemText {
    fill: var(--text-dark);
    color: var(--text-dark);
}

.sidebarItemIcon {
    fill: var(--sidebar-icon);
}

.sidebarItemText {
    color: var(--text-light);
    font-weight: 500;
}

.sidebarFooter {
    width: 90%;
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}


/* -------------------------------------------------- */
/* MOBILE TOPBAR */
/* -------------------------------------------------- */

.mobileTopbarContainer {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 55px;
    background: var(--bg);
    padding: 0 1em;
    top: 0;
    left: 0;
    z-index: 2;
}

.mobileTopbarBtn {
    background: none;
    border: none;
    cursor: pointer;
}

.mobileTopbarBtnIcon {
    fill: var(--accent);
    width: 32px;
    height: 32px;
}

.mobile {
    transform: translateX(-100%);
}

.mobile.open {
    transform: translateX(0);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.55);
    backdrop-filter: blur(2px);
    z-index: 1;
}
