.iconPickerContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 50px;
    gap: 0.25em;
}

.iconPickerLabel{
    font-size: 0.75rem;
    color: var(--third-color);

}

.iconPickerBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8em;
    border-radius: 5px;
    outline: none;
    background-color: var(--second-color);
    border: 1px solid var(--second-color);
    cursor: pointer;
}

.iconPickerBtn svg{
    fill: white;
    height: 1rem !important;
    width: 1rem !important;
}


.iconPickerDataContainer{
    position: absolute;
    top: 110%;
    left: 0;
    display: grid;
    grid-template-columns: repeat(5, 40px);
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: white;
    z-index: 100;
    max-height: 200px;
    overflow-y: scroll;
}

.iconPickerDataItem{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 6px;
    border-radius: 6px,
}