.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    border: 1px solid white;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: white;
}

.fomrTitle{
    margin-top: 2rem;
}

.formInputContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.formInput{
    font-size: 0.85rem;
    width: 80%;
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
    padding: 0.5rem 0.5rem;
    margin: 1rem 0;
    color: white;
}

::placeholder{
    color: white;
    opacity: 1;
}

.formBtn{
    width: 80%;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all 0.4s ease;
}

.formBtn:hover{
    background-color: rgb(179, 171, 171);
}

.formFooter{
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: 2rem;
}

.formFooter a{
    text-decoration: none;
    color: white;
    transition: all 0.4s ease;
}

.formFooter a:hover{
    text-decoration: none;
    color: yellow;
}