.heroContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    height: 100vh;
    background-image: url("/public/hero-bg.jpg");
    background-position: center center;
    background-size: cover;
}

.heroMainText{
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: -5px;
    -webkit-text-stroke: 0.25px white;
    -webkit-text-fill-color: transparent;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    line-height: 0.9;
}

.heroMainText:nth-of-type(2){
    -webkit-text-fill-color: white;
}

.btnContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

