.routineCardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--second-color);
    min-width: 200px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    flex-grow: 1;
    cursor: pointer;
    border: 3px solid transparent;
    transition: 0.2s all ease;
}

.routineCardContainer:hover{
    border: 3px solid rgb(0, 255, 0);
}

.routineCardtitle{
    font-weight: 200;
    font-size: 1rem;
    margin: 0.5em 0em;
    color: white;
}

.progressWrapper {
    position: relative;
    width: 100px;
    height: 100px;
}

.progressWrapper .CircularProgressbar {
    width: 100%;
    height: 100%;
}

.progressIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    font-size: 32px;
}

.routineCardProgres{
    font-size: 0.75rem;
}